<div class="wrapper">
  <div class="page-header page-header-xs settings-background" [ngStyle]="{'background-image' : 'url(' + newRental.image + ')' }">
      <div class="filter"></div>
  </div>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="form-group">
            <h6>カバー写真 <span class="icon-danger">*</span></h6>
            <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <app-image-upload></app-image-upload>
                        <!-- <app-image-upload-myver 
                            [inputImage]="rental.image"
                            (imageUploaded)="rental.image=$event;isTouched=true"
                            >
                        </app-image-upload-myver> -->
                    </div>
                </div>
            </div>

          <div class="space-top"></div>
          <form #rentalForm="ngForm" (ngSubmit)="createRental(rentalForm)">
          <!--<form [formGroup]="myGroup" action="" method="">-->
            <div class="form-group">
              <h6>商品名 <span class="icon-danger">*</span></h6>
              <input [(ngModel)]="newRental.rentalname"
                    name="rentalname"
                    type="text"
                    class="form-control"
                    placeholder="商品名" 
                    maxlength="20" 
                    required
                    />
              <h5><small><span id="textarea-limited-message" class="pull-right">
                <div *ngIf="!newRental.rentalname">
                  残文字数 20
                </div>
                <div *ngIf="newRental.rentalname">
                  残文字数 {{ 20 - newRental.rentalname.length }}
                </div>
              </span></small></h5>
            </div>

            <div class="form-group">
                <h6>活動都道府県 <span class="icon-danger">*</span></h6>
                <input type="text" 
                    class="form-control border-input" 
                    placeholder="都道府県" 
                    [(ngModel)]="newRental.province" 
                    name="province"
                    required
                    />
            </div>
            <div class="form-group">
                <h6>活動最寄駅 <span class="icon-danger">*</span></h6>
                <div class="input-group border-input">
                    <input 
                        type="text" 
                        placeholder="最寄駅を入力" 
                        class="form-control border-input" 
                        [(ngModel)]="newRental.nearStation" 
                        name="nearStation" 
                        required
                        />
                    <div class="input-group-append">
                        <span class="input-group-text">駅</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h6>ひとこと <span class="icon-danger">*</span></h6>
                <textarea 
                    [(ngModel)]="newRental.cardDescription" 
                    name="cardDescription"
                    class="form-control textarea-limited" 
                    placeholder="商品カードのコピー文が入力できます。" 
                    rows="1" 
                    maxlength="20" 
                    ></textarea>
                <h5><small><span id="textarea-limited-message" class="pull-right">
                    <div *ngIf="!newRental.cardDescription">
                        残文字数 20
                    </div>
                    <div *ngIf="newRental.cardDescription">
                        残文字数 {{ 20 - newRental.cardDescription.length }}
                    </div>
                </span></small></h5>
            </div>

            <div class="form-group">
                <h6>自己紹介 <span class="icon-danger">*</span></h6>
                <textarea
                    [(ngModel)]="newRental.description" 
                    name="description"
                    class="form-control textarea-limited" 
                    placeholder="紹介文を入力できます." 
                    rows="4" 
                    maxlength="120"
                    required
                    ></textarea>
                <h5><small><span id="textarea-limited-message" class="pull-right">
                  <div *ngIf="!newRental.description">
                      残文字数 120
                  </div>
                  <div *ngIf="newRental.description">
                      残文字数 {{ 120 - newRental.description.length }}
                  </div>
                </span></small></h5>
            </div>

            <div class="form-group">
                <h6>提供レッスン１ <span class="icon-danger">*</span></h6>
                <textarea 
                    class="form-control textarea-limited" 
                    placeholder="提供するサービス内容を出来る限り簡潔に魅力的に書きましょう" 
                    [(ngModel)]="newRental.course60Description" 
                    name="course60Description"
                    rows="3" 
                    maxlength="150" ></textarea>
                <h5><small><span id="textarea-limited-message" class="pull-right">
                  <div *ngIf="!newRental.course60Description">
                    残文字数 150
                  </div>
                  <div *ngIf="newRental.course60Description">
                    残文字数 {{ 150 - newRental.course60Description.length }}
                  </div>
                </span></small></h5>
            </div>

            <div class="form-group">
              <h6>提供レッスン２（任意）</h6>
              <textarea 
                  class="form-control textarea-limited" 
                  placeholder="提供するサービス内容を出来る限り簡潔に魅力的に書きましょう" 
                  [(ngModel)]="newRental.course90Description" 
                  name="course90Description"
                  rows="3" 
                  maxlength="150" ></textarea>
              <h5><small><span id="textarea-limited-message" class="pull-right">
                <div *ngIf="!newRental.course90Description">
                  残文字数 150
                </div>
                <div *ngIf="newRental.course90Description">
                  残文字数 {{ 150 - newRental.course90Description.length }}
                </div>
              </span></small></h5>
            </div>
            <div class="form-group">
                <h6>Email <span class="icon-danger">*</span></h6>
                <input 
                  type="text" 
                  class="form-control border-input" 
                  placeholder="フォームからの連絡用アドレスを入力" 
                  [(ngModel)]="newRental.email" 
                  name="email" 
                  required
                  />
            </div>
            <!-- <div class="form-group">
                <h6>HP（任意）</h6>
                <input type="text" class="form-control border-input" placeholder="HPのURLが入力できます" [(ngModel)]="newRental.homepage" name="homepage">
            </div> -->
            <div class="form-group">
                <h6>Facebook（任意）</h6>
                <input type="text" class="form-control border-input" placeholder="FacebookURLが入力できます" [(ngModel)]="newRental.facebook" name="facebook">
            </div>
            <div class="form-group">
                <h6>Instagram（任意）</h6>
                <input type="text" class="form-control border-input" placeholder="InstagramURLが入力できます" [(ngModel)]="newRental.instagram" name="instagram">
            </div>
            <div class="form-group">
                <h6>Twitter（任意）</h6>
                <input type="text" class="form-control border-input" placeholder="TwitterURLが入力できます" [(ngModel)]="newRental.twitter" name="twitter">
            </div>

            <div class="form-group">
              <h6>提供サービス時給 <span class="icon-danger">*</span></h6>
              <div class="input-group border-input">
                  <input 
                    type="text" 
                    placeholder="時給を任意に設定できます" 
                    class="form-control border-input" 
                    [(ngModel)]="newRental.hourlyPrice" 
                    name="hourlyPrice" 
                    />
                  <div class="input-group-append">
                      <span class="input-group-text">円</span>
                  </div>
                </div>
            </div>

            <div class="space-top"></div>
            <!-- <label>Notifications</label> -->
            <ul class="notifications">
                <li class="notification-item">
                    外部公開
                    <bSwitch
                        [switch-on-color]="'primary'"
                        [switch-off-color]="'primary'"
                        [(ngModel)]="newRental.shared"
                        name="shared">
                    </bSwitch>
                </li>
            </ul>
            <div class="text-center">
              <button [disabled]="!rentalForm.form.valid" type="submit" class="btn btn-wd btn-primary">商品登録</button>
            </div>
          </form>
          <div *ngIf="errors && errors.length > 0" class="alert alert-danger">
            <p *ngFor="let error of errors">
              {{error.detail}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>