<div class="wrapper">
  <div
    class="page-header"
    style="background-image: url('./assets/img/lp/back-image.jpg');"
  >
    <div class="filter"></div>
    <div class="text-center">
      <div *ngIf="innerWidth > 768" class="space-110"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto">
            <h1 class="title title-top">オンライン予約受付システム</h1>
            <h5 class="description">
              あらゆる商材の顧客管理・前日リマインド・キャンセル受付・予約日変更受付までシステムが自動で対応します
            </h5>
            <br />
            <a class="btn btn-lg btn-primary" [routerLink]="['/rentals']">
              <i class="fa fa-search"></i> デモサイトをみる
            </a>
          </div>
          <div class="col-md-5">
            <div class="phone-top">
              <img src="./assets/img/lp/phone-dentist.png" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    RPA SYSTEM     *********      -->
  <div class="section section-components section-dark">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto text-center">
        <h2 class="title">バックオフィス業務自動化システム</h2>
        <!-- <h5 class="description">かんたん！綺麗！自分を売れる！</h5> -->
      </div>
    </div>
    <div class="space-top"></div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="image-container">
          <img
            class="components-macbook"
            src="./assets/img/lp/laptop-automation.png"
            alt=""
          />
          <img
            class="table-img"
            src="./assets/img/presentation-page/table.jpg"
            alt=""
          />
          <img
            class="share-btn-img"
            src="./assets/img/presentation-page/share-btn.png"
            alt=""
          />
          <img
            class="coloured-card-btn-img"
            src="./assets/img/presentation-page/coloured-card-with-btn.png"
            alt=""
          />
          <img
            class="coloured-card-img"
            src="./assets/img/presentation-page/coloured-card.png"
            alt=""
          />
          <img
            class="social-img"
            src="./assets/img/presentation-page/social-row.png"
            alt=""
          />
          <img
            class="pin-btn-img"
            src="./assets/img/presentation-page/pin-btn.png"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-10 col-lg-4 ml-auto mr-auto">
        <div class="container basic-container">
          <h3 class="title">事務作業を大幅に減らせます</h3>
          <h6 class="category">
            従業員をより生産的な業務にアサインできるようになります
          </h6>
          <h5 class="description">
            業務委託や従業員の業務報告管理やそれに応じて報酬の自動計算を行えます。
          </h5>
          <br />
          <a
            class="btn btn-lg btn-primary"
            href="https://youtu.be/T8ejmVo7sRA"
            target="_blank"
          >
            <i class="fa fa-search"></i> 詳細はこちら
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
