<div class="wrapper">
  <div
    class="page-header page-header-small settings-background"
    style="background-image: url('./assets/img/lp/back-image.jpg');"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <h1 class="title">About us</h1>
        <h4 class="description">
          誰しもが自分の人生の「主人公・ヒロイン」でありたい。
        </h4>
        <h4 class="description">
          努力する人・企業が最高に輝ける環境を私たちは全力で創り提供しています。
        </h4>
      </div>
    </div>
  </div>

  <!--     *********    SKILL SHARING PLATFORM     *********      -->
  <div class="section section-content">
    <div class="container">
      <div class="row">
        <div class="text-center ml-auto mr-auto">
          <h2 class="title">Services</h2>
          <h6 class="category">商品サービス一覧</h6>
          <div class="space-top"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="image-container">
            <img class="img" src="./assets/img/lp/phone-top.png" />
            <img
              class="area-img add-animation"
              src="./assets/img/lp/dentist.jpg"
            />
            <img
              class="info-img add-animation"
              src="./assets/img/lp/ipad-revenue.jpg"
            />
          </div>
        </div>

        <div class="col-md-5 ml-auto mr-auto">
          <div class="section-description">
            <h3 class="title">
              貴社ブランド展開可能なクラウド型予約プラットフォーム
            </h3>
            <h6 class="category">
              クラウド型WEB予約プラットフォーム
            </h6>
            <h5 class="description">
              <p>
                あらゆるサービスの出品に対応。カレンダーの空き状況を見て予約したり、利用者へ前日リマインド・キャンセル受付・予約日変更受付までシステムが自動で対応します。
              </p>
              <p>
                管理者側は全商品をまとめて管理可能。もちろん各商品毎に管理者を設定することもできます。
              </p>
            </h5>
            <!-- <div class="space-top"></div>
            <div class="row">
              <div class="col-md-10">
                <a
                  class="btn btn-block btn-lg btn-primary"
                  [routerLink]="['/online-booking']"
                >
                  <i class="fa fa-search"></i> コンセプトページを見る
                </a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    RPA SYSTEM     *********      -->
  <div class="section section-components section-gray">
    <div class="space-top"></div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="image-container">
          <img
            class="components-macbook"
            src="./assets/img/lp/laptop-automation.png"
            alt=""
          />
          <img
            class="table-img"
            src="./assets/img/presentation-page/reporting.jpg"
            alt=""
          />
          <img
            class="share-btn-img"
            src="./assets/img/presentation-page/login-btn.png"
            alt=""
          />
          <img
            class="coloured-card-btn-img"
            src="./assets/img/presentation-page/coloured-card-with-btn.png"
            alt=""
          />
          <img
            class="social-img"
            src="./assets/img/presentation-page/social-row.png"
            alt=""
          />
          <img
            class="pin-btn-img"
            src="./assets/img/presentation-page/pin-btn.png"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-10 col-lg-4 ml-auto mr-auto">
        <div class="container basic-container">
          <h3 class="title">平均70%のバックオフィス業務を自動化できます</h3>
          <h6 class="category">
            バックオフィス業務自動化システム
          </h6>
          <h5 class="description">
            <p>
              ITテクノロジーの力で日常業務の多くを自動化し、組織全体の仕事の生産性を飛躍的に向上させられます。
            </p>
            <p>
              多くの場合、導入３ヶ月以上で投資金額以上の効果をご実感いただけます。
            </p>
            <p>
              現状の業務工程をヒアリングしながらプロのコンサルタントが自動化まで実行支援しますので、ITに苦手意識のある組織でも安心して導入いただけます。
            </p>
            <p>
              従業員（アルバイト含む）５名以上の会社組織で効果を期待できます。
            </p>
          </h5>
          <!-- <div class="space-top"></div>
          <div class="row">
            <div class="col-md-10">
              <a
                class="btn btn-block btn-lg btn-primary"
                [routerLink]="['/rpa']"
              >
                <i class="fa fa-search"></i> 詳細はこちら
              </a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <!--     *********    TESTIMONIALS     *********      -->
  <div class="section section-team cd-section team-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Happy clients</h2>
          <h6 class="category">お客様の声</h6>
          <div class="space-top"></div>
          <h5 class="description">
            ご導入させていただいている企業様に感想をお伺いしました。
          </h5>
        </div>
      </div>

      <div class="row">
        <!-- <div class="col-md-4 ml-auto"> -->
        <div class="col-md-4 ml-auto mr-auto">
          <div class="card card-profile">
            <div class="card-body">
              <div class="card-avatar">
                <a href="https://tsubaki-musicschool.com/" target="_blank">
                  <img src="assets/img/clients/tsubaki-music.jpg" alt="..." />
                </a>
              </div>
              <p class="card-description text-center">
                もし差し支えなければ、ご掲載させていただくための導入効果や感想をひとことふたこと頂けますと幸いです。
                レイアウト等も問題ありましたら修正させていただきます。
              </p>
              <br />
              <h4 class="card-title">椿音楽教室 様</h4>
              <h6 class="card-category">マンツーマン音楽教室</h6>
            </div>
            <div class="card-footer text-center">
              <!-- 
                  <a
                    href="javascript:void(0)"
                    class="btn btn-just-icon btn-dribbble mr-1"
                    ><i class="fa fa-dribbble"></i>
                  </a> 
                -->
            </div>
          </div>
        </div>

        <!-- <div class="col-md-4 mr-auto">
          <div class="card card-profile">
            <div class="card-body">
              <div class="card-avatar">
                <a href="https://crea-academy.com/" target="_blank">
                  <img src="assets/img/clients/crea-logo.png" alt="..." />
                </a>
              </div>
              <p class="card-description text-center">
                A group becomes a team when each member is sure enough of
                himself and his contribution to praise the skill of the others.
                No one can whistle a symphony. It takes an orchestra to play it.
              </p>
              <br />
              <h4 class="card-title">クレアアカデミー 様</h4>
              <h6 class="card-category">個別指導塾</h6>
            </div>
            <div class="card-footer text-center"></div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
