<div class="wrapper">
  <div
    class="page-header"
    style="background-image: url('./assets/img/lp/back-image.jpg');"
  >
    <div class="filter"></div>
    <div class="text-center">
      <div *ngIf="innerWidth > 768" class="space-110"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto">
            <h1 class="title title-top">オンライン予約受付システム</h1>
            <h5 class="description">
              あらゆる商品への予約・顧客管理・前日リマインド・キャンセル受付・予約日変更受付までシステムが自動で対応します
            </h5>
            <br />
            <a class="btn btn-lg btn-primary" [routerLink]="['/rentals']">
              <i class="fa fa-search"></i> デモサイトをみる
            </a>
          </div>
          <div class="col-md-5">
            <div class="phone-top">
              <img src="./assets/img/lp/phone-dentist.png" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    RPA SYSTEM     *********      -->
  <div class="section section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">
          <h1 class="title">業務自動化システム</h1>
          <h6 class="category">Our Another Service</h6>
        </div>
      </div>
      <div class="space-top"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="card no-transition">
            <div class="card-body">
              <div class="chart-area">
                <canvas
                  baseChart
                  id="barChartSimpleGradientsNumbers"
                  [datasets]="lineChartGradientsNumbersData"
                  [labels]="lineChartGradientsNumbersLabels"
                  [colors]="lineChartGradientsNumbersColors"
                  [options]="lineChartGradientsNumbersOptions"
                  [chartType]="lineChartGradientsNumbersType"
                ></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 ml-auto mr-auto">
          <div class="container">
            <h3 class="title">約70%のバックオフィス業務を自動化できます</h3>
            <h5 class="description">
              ITテクノロジーの力で日常業務の多くを自動化します。<br />
              組織全体の生産性が飛躍的に向上します。
            </h5>
            <br />
            <h6 class="category">
              (※業務効率化割合は企業毎異なります)
            </h6>
          </div>
        </div>
      </div>

      <div class="space-50"></div>
      <div class="row">
        <div class="col-11 col-md-7 ml-auto mr-auto">
          <a class="btn btn-block btn-lg btn-primary" [routerLink]="['/rpa']">
            <i class="fa fa-search"></i> 詳細はこちら
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
