<section id="userBookings">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/lp/back-image.jpg');">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
          <div class="space-50"></div>
          <h1>My Bookings</h1>
          <h3>あなたの予約一覧です</h3>
          <br />
      </div>
    </div>
  </div>

  <div class="main">
    <div class="section text-center">
      <div class="container" *ngIf="bookings && bookings.length > 0">
        <ngb-tabset [justify]="'center'" type="pills" class="nav-pills-primary">
          <ngb-tab title="予約一覧">
            <ng-template ngbTabContent>

              <div class="row">
                <div *ngIf="bookings.length==0" class="col-md-4">
                  <div class="card card-pricing">
                    <a routerLink="/rentals">
                      <div class="card-body">
                        <!-- <h3 class="card-category">No bookings found!</h3> -->
                        <h3 class="card-title">No bookings found !</h3>
                        <p class="card-description"></p>
                        <div class="card-footer">
                          <p class="btn btn-warning btn-round">Find my Trainer</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <app-user-mybookings-list-pending [bookings]="bookings"></app-user-mybookings-list-pending>

              <app-user-mybookings-list-active [bookings]="bookings"></app-user-mybookings-list-active>

              <app-user-mybookings-list-finished [bookings]="bookings"></app-user-mybookings-list-finished>

              <app-user-mybookings-list-reviewed [bookings]="bookings"></app-user-mybookings-list-reviewed>


            </ng-template>
          </ngb-tab>
          <ngb-tab title="期限切れ">
            <ng-template ngbTabContent>

              <app-user-mybookings-list-expired [bookings]="bookings"></app-user-mybookings-list-expired>

            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</section>
        