<div class="wrapper">
  <div class="page-header page-header-xs settings-background"
    style="background-image: url('./assets/img/sections/forest-bg.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="space-50"></div>
      <div class="container">
        <h1 class="title">動画コンテンツ視聴</h1>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="section section-summary">
      <div class="container">
        <div class="row">
          <div class="col-md-9 ml-auto mr-auto text-center">
            <h3 class="title">動画教材を配置できます</h3>
            <p class="description">
              どんな人生を歩みたいですか？ あなたにとっての「理想の未来」とはどんなことですか？
            </p>
          </div>
        </div>
        <div class="space-top"></div>
        <div class="row">
          <div class="col-md-4">
            <a (click)="open(Notice, '')">
              <div class="card" data-background="image"
                style="background-image: url('assets/img/sections/ben-white.jpg')">
                <div class="card-body">
                  <h3 class="card-title">Course 1</h3>
                  <p class="card-description">
                    まずはこのコースから学習をスタートしましょう。
                  </p>
                  <div class="card-footer">
                    <a class="btn btn-warning btn-round">
                      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> 受講を開始する
                    </a>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-4">
            <div class="card" data-background="image"
              style="background-image: url('assets/img/sections/david-marcu.jpg')">
              <a (click)="open(Notice, '')">
                <div class="card-body">
                  <a href="javascript:void(0)">
                    <h3 class="card-title">Course 2</h3>
                  </a>
                  <p class="card-description">
                    次にこのコースの学習をスタートしましょう。
                  </p>
                  <div class="card-footer">
                    <a href="javascript:void(0)" class="btn btn-warning btn-round">
                      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> 受講を開始する
                    </a>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card" data-background="image"
              style="background-image: url('assets/img/sections/fabio-mangione.jpg')">
              <a (click)="open(Notice, '')">
                <div class="card-body">
                  <a href="javascript:void(0)">
                    <h3 class="card-title">Course 3</h3>
                  </a>
                  <p class="card-description">
                    その次にこのコースの学習をスタートしましょう。
                  </p>
                  <div class="card-footer">
                    <a href="javascript:void(0)" class="btn btn-warning btn-round">
                      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> 受講を開始する
                    </a>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="space-top"></div>
        <div class="row">
          <div class="col-md-4">
            <div class="card" data-background="image"
              style="background-image: url('assets/img/sections/galen-crout.jpg')">
              <a (click)="open(Notice, '')">
                <div class="card-body">
                  <a href="javascript:void(0)">
                    <h3 class="card-title">Course 4</h3>
                  </a>
                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you
                    like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
                  <div class="card-footer">
                    <a href="javascript:void(0)" class="btn btn-warning btn-round">
                      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> 受講を開始する
                    </a>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card" data-background="image"
              style="background-image: url('assets/img/sections/forest-bg.jpg')">
              <a (click)="open(Notice, '')">
                <div class="card-body">
                  <a href="javascript:void(0)">
                    <h3 class="card-title">Course 5</h3>
                  </a>
                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you
                    like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
                  <div class="card-footer">
                    <a href="javascript:void(0)" class="btn btn-warning btn-round">
                      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> 受講を開始する
                    </a>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card" data-background="image"
              style="background-image: url('assets/img/sections/joshua-earles.jpg')">
              <a (click)="open(Notice, '')">
                <div class="card-body">
                  <a href="javascript:void(0)">
                    <h3 class="card-title">Course 6</h3>
                  </a>
                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you
                    like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
                  <div class="card-footer">
                    <a href="javascript:void(0)" class="btn btn-warning btn-round">
                      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> 受講を開始する
                    </a>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #Notice let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">Course 1</h5>
    <button type="button" class="close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="iframe-container">
      <iframe src="https://www.youtube.com/embed/z8Kt1gXL_2M" frameborder="0" allowfullscreen height="250"></iframe>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-link" (click)="c('Close click')">閉じる</button>
  </div>
</ng-template>