<section id="rentalListing">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/lp/back-image.jpg');">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="space-50"></div>
        <h1 class="title">少し憧れだった人と会おう</h1>
        <!-- <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="card card-raised card-form-horizontal no-transition">
                  <div class="card-body">
                      <form method="" action="">
                          <div class="row">
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <input type="text" value="" placeholder="会いたい場所" class="form-control" />
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <input type="text" value="" placeholder="ジャンル" class="form-control" />
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <input type="text" value="" placeholder="日付" class="form-control" />
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <button type="button" class="btn btn-primary btn-block"><i class="nc-icon nc-zoom-split"></i> &nbsp; 検索する</button>
                                  <div class="separator-10"></div>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
        </div> -->
    </div>
    </div>
  </div>
  <div class="main">
    <div class="section text-center">
      <div class="container">
        <div class="tim-title">
            <h2>New</h2>
            <div class="space-top"></div>
        </div>
        <div class="row">
          <ng-container *ngFor="let rental of rentals">
            <div *ngIf="rental.selectedCategory && (rental.selectedCategory[0].id === 1)" class='col-xl-3 col-md-4 col-6'>
              <app-rental-list-item [rental]="rental"></app-rental-list-item>
            </div>
          </ng-container>
        </div>

        <div class="tim-title">
            <h2>Ladies</h2>
            <div class="space-top"></div>
        </div>
        <div class="row">
          <ng-container *ngFor="let rental of rentals">
            <div *ngIf="rental.selectedCategory && (rental.selectedCategory[0].id === 2)" class='col-xl-3 col-md-4 col-6'>
              <app-rental-list-item [rental]="rental"></app-rental-list-item>
            </div>
          </ng-container>
        </div>

        <div class="tim-title">
            <h2>Mens</h2>
            <div class="space-top"></div>
        </div>
        <div class="row">
          <ng-container *ngFor="let rental of rentals">
            <div *ngIf="rental.selectedCategory && (rental.selectedCategory[0].id === 3)" class='col-xl-3 col-md-4 col-6'>
              <app-rental-list-item [rental]="rental"></app-rental-list-item>
            </div>
          </ng-container>
        </div>

      </div>
    </div>
  </div>
</section>
