<div class="wrapper">
  <div
    class="page-header"
    style="background-image: url('./assets/img/lp/back-image.jpg');"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-left">
            <h1 class="title">バックオフィス業務自動化システム</h1>
            <h5>
              従業員の日常業務の面倒な部分をテクノロジーの力で自動化します。
              これによりヒューマンエラーの抑制と会社組織の仕事の生産性が飛躍的に向上します。
              従業員に本来アサインしたかった仕事を与えられるようになります。
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********     ROAD MAP      *********      -->
  <div
    class="features-5 section-image"
    style="background-image: url('assets/img/sections/rawpixel-comm.jpg');"
  >
    <div class="container">
      <div class="row">
        <div class="ml-auto mr-auto">
          <h2 class="title text-center">投資リターンを考えご提案いたします</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 ml-auto">
          <div class="info">
            <div class="icon">
              <i class="nc-icon nc-ruler-pencil" aria-hidden="true"></i>
            </div>
            <h4 class="title">現状ワークフローヒアリング</h4>
            <p>
              御社の現状ワークフローとどの業務に対して人件費（工数）が掛かっているかのヒアリングを行います。
              その過程で自動化可能な箇所の抽出を行います。
            </p>
          </div>
        </div>

        <div class="col-sm-5 mr-auto">
          <div class="info">
            <div class="icon">
              <i class="nc-icon nc-atom" aria-hidden="true"></i>
            </div>
            <h4 class="title">自動化可能箇所のご提案</h4>
            <p>
              現状ワークフローに対してどの部分をどのように自動化できるか、
              それぞれを自動化する場合の投資リターン（ROI）期待値も含めてご提案いたします。
            </p>
          </div>
        </div>
      </div>

      <div class="row bottom-line">
        <div class="col-sm-5 ml-auto">
          <div class="info">
            <div class="icon">
              <i class="nc-icon nc-paper" aria-hidden="true"></i>
            </div>
            <h4 class="title">開発及び納品</h4>
            <p>
              内容にご納得し発注いただけた場合は、開発業務に移行します。
              開発された自動化システムを検収いただき問題なければ納品となります。
            </p>
          </div>
        </div>

        <div class="col-sm-5 mr-auto">
          <div class="info">
            <div class="icon">
              <i class="nc-icon nc-time-alarm" aria-hidden="true"></i>
            </div>
            <h4 class="title">効果検証</h4>
            <p>
              従業員の日常業務の多くを自動化する事で、
              彼ら（彼女ら）に本来アサインしたかったより生産的な仕事を与えられるようになります。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    RPA SYSTEM     *********      -->
  <div class="section section-components section-dark">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto text-center">
        <h2 class="title">バックオフィス業務自動化システム</h2>
        <!-- <h5 class="description">かんたん！綺麗！自分を売れる！</h5> -->
      </div>
    </div>
    <div class="space-top"></div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="image-container">
          <img
            class="components-macbook"
            src="./assets/img/lp/laptop-automation.png"
            alt=""
          />
          <img
            class="table-img"
            src="./assets/img/presentation-page/reporting.jpg"
            alt=""
          />
          <img
            class="share-btn-img"
            src="./assets/img/presentation-page/login-btn.png"
            alt=""
          />
          <img
            class="coloured-card-btn-img"
            src="./assets/img/presentation-page/coloured-card-with-btn.png"
            alt=""
          />
          <img
            class="coloured-card-img"
            src="./assets/img/presentation-page/coloured-card.png"
            alt=""
          />
          <img
            class="social-img"
            src="./assets/img/presentation-page/social-row.png"
            alt=""
          />
          <img
            class="pin-btn-img"
            src="./assets/img/presentation-page/pin-btn.png"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-10 col-lg-4 ml-auto mr-auto">
        <div class="container basic-container">
          <h3 class="title">事務作業を大幅に減らせます</h3>
          <h6 class="category">
            従業員をより生産的な業務にアサインできるようになります
          </h6>
          <h5 class="description">
            一例として業務委託や従業員の業務報告の管理や時給等の設定に応じて報酬の自動計算を行えます。
            従業員（アルバイト含む）５名以上の会社組織で特に効果を実感いただけます。
          </h5>
          <br />
          <a class="btn btn-lg btn-primary" [routerLink]="['/contactus']">
            <i class="fa fa-search"></i> お問い合わせはこちら
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
