<div class="wrapper">
  <div
    class="page-header page-header-small"
    style="background-image: url('./assets/img/lp/back-image.jpg');"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-left">
            <h1 class="title">業務自動化支援</h1>
            <h5 class="description">
              日常業務の面倒な部分をテクノロジーの力で自動化します。
              これによりヒューマンエラーの抑制と組織全体の生産性が飛躍的に向上します。
              従業員を他の重要な業務へアサインできるようになります。
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********     ROAD MAP      *********      -->
  <div class="features-5 section-dark">
    <div class="container">
      <div class="row">
        <div class="text-center ml-auto mr-auto">
          <h2 class="title">業務生産性を高めるご提案をします</h2>
          <h6 class="category">Our Service</h6>
          <div class="space-top"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 ml-auto">
          <div class="info">
            <div class="icon">
              <i class="nc-icon nc-ruler-pencil" aria-hidden="true"></i>
            </div>
            <h4 class="title">現状ワークフローヒアリング</h4>
            <p>
              御社の現状ワークフローのヒアリング及び、どの工程に人件費が掛かっているかのヒアリングを行います。
              その過程で自動化可能な箇所の抽出を行います。
            </p>
          </div>
        </div>

        <div class="col-sm-5 mr-auto">
          <div class="info">
            <div class="icon">
              <i class="nc-icon nc-atom" aria-hidden="true"></i>
            </div>
            <h4 class="title">自動化可能箇所のご提案</h4>
            <p>
              現状ワークフローのどの部分をどのように自動化できるか及び、
              自動化する場合の投資リターン（ROI）期待値も含めてご提案いたします。
            </p>
          </div>
        </div>
      </div>

      <div class="row bottom-line">
        <div class="col-sm-5 ml-auto">
          <div class="info">
            <div class="icon">
              <i class="nc-icon nc-paper" aria-hidden="true"></i>
            </div>
            <h4 class="title">納品</h4>
            <p>
              ご納得の上、発注いただけた場合は開発業務へ移行します。
              検収いただき問題なければ納品となります。
            </p>
          </div>
        </div>

        <div class="col-sm-5 mr-auto">
          <div class="info">
            <div class="icon">
              <i class="nc-icon nc-time-alarm" aria-hidden="true"></i>
            </div>
            <h4 class="title">効果検証</h4>
            <p>
              従業員の日常業務の多くを自動化する事により
              彼ら（彼女ら）を他の重要な仕事へアサインできるようになります。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    RPA SYSTEM     *********      -->
  <div class="section section-components section-dark">
    <div class="space-top"></div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="image-container">
          <img
            class="components-macbook"
            src="./assets/img/lp/laptop-automation.png"
            alt=""
          />
          <img
            class="table-img"
            src="./assets/img/presentation-page/reporting.jpg"
            alt=""
          />
          <img
            class="share-btn-img"
            src="./assets/img/presentation-page/login-btn.png"
            alt=""
          />
          <img
            class="coloured-card-btn-img"
            src="./assets/img/presentation-page/coloured-card-with-btn.png"
            alt=""
          />
          <img
            class="coloured-card-img"
            src="./assets/img/presentation-page/coloured-card.png"
            alt=""
          />
          <img
            class="social-img"
            src="./assets/img/presentation-page/social-row.png"
            alt=""
          />
          <img
            class="pin-btn-img"
            src="./assets/img/presentation-page/pin-btn.png"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-10 col-lg-4 ml-auto mr-auto">
        <div class="container basic-container">
          <h3 class="title">業務内容ヒアリング ＋ 自動化</h3>
          <h6 class="category">
            従業員の業務負荷低減 ＋ システム化による処理速度の向上
          </h6>
          <h5 class="description">
            一例として業務委託や従業員の業務報告の管理や時給等の設定に応じて報酬の自動計算を行えます。
            従業員（アルバイト含む）５名以上の会社組織で特に効果を実感いただけます。
          </h5>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="space-70"></div>
      <div class="row">
        <div class="col-11 col-md-5 ml-auto mr-auto">
          <a
            class="btn btn-block btn-lg btn-primary"
            [routerLink]="['/contactus']"
          >
            <i class="fa fa-search"></i> お問い合わせはこちら
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    TESTIMONIALS     *********      -->
  <div class="section section-team cd-section team-4 section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">お客様の声</h2>
          <h6 class="category">Testimonials</h6>
          <div class="space-top"></div>
          <h5 class="description">
            業務自動化システムをご導入させていただいている企業様に感想をお伺いしました。
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 ml-auto">
          <div class="card card-profile">
            <div class="card-body">
              <div class="card-avatar">
                <a href="#avatar">
                  <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="..." />
                  <h4 class="card-title">Eric Thomson</h4>
                </a>
              </div>
              <p class="card-description text-center">
                A group becomes a team when each member is sure enough of
                himself and his contribution to praise the skill of the others.
                No one can whistle a symphony. It takes an orchestra to play it.
              </p>
              <br />
              <h4 class="card-title">Alec Thompson</h4>
              <h6 class="card-category">Founder</h6>
            </div>
            <div class="card-footer text-center">
              <!-- <a
                  href="javascript:void(0)"
                  class="btn btn-just-icon btn-dribbble mr-1"
                  ><i class="fa fa-dribbble"></i
                ></a> -->
            </div>
          </div>
        </div>

        <div class="col-md-4 mr-auto">
          <div class="card card-profile">
            <div class="card-body">
              <div class="card-avatar">
                <a href="#avatar">
                  <img src="apple-touch-icon.png" alt="..." />
                  <h4 class="card-title">Sophia West</h4>
                </a>
              </div>
              <p class="card-description text-center">
                元々かかっていた従業員の人件費に対し、業務自動化システムを導入することで
                約７割の業務負荷を低減することができました。彼らを別の仕事にアサインできるようになり感謝しています。
              </p>
              <br />
              <h4 class="card-title">Aeru.me株式会社</h4>
              <h6 class="card-category">代表取締役 浜田篤</h6>
            </div>
            <div class="card-footer text-center">
              <!-- <a
                  href="javascript:void(0)"
                  class="btn btn-just-icon btn-dribbble mr-1"
                  ><i class="fa fa-dribbble"></i
                ></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    OUR TEAMS     *********      -->
  <div class="section section-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">私たちについて</h2>
          <h6 class="category">Our Team</h6>
          <div class="space-top"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 ml-auto">
          <div class="info info-horizontal">
            <h3 class="title">グローバルなチームメンバー</h3>
            <h5 class="description">
              弊社代表取締役の浜田がバックパッカー時代に築いたインド・ルーマニア・ベトナム・スロバキア・日本といった多種多様な
              デザイナー、エンジニア、戦略コンサルタントからなるチーム体勢で付加価値の高いサービスが提供できる体勢になっています。
            </h5>
          </div>
        </div>
        <div class="col-md-5 mr-auto">
          <div class="iphone-container">
            <img src="assets/img/aboutus/engineers.png" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    CALL TO ACTION     *********      -->
  <div class="section section-icons section-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="icons-nucleo">
            <i class="first-left-icon nc-icon nc-planet add-animation"></i>
            <i class="second-left-icon nc-icon nc-touch-id add-animation"></i>
            <i
              class="third-left-icon nc-icon nc-lock-circle-open add-animation"
            ></i>
            <i class="fourth-left-icon nc-icon nc-tap-01 add-animation"></i>
            <i class="fifth-left-icon nc-icon nc-zoom-split add-animation"></i>
            <i class="sixth-left-icon nc-icon nc-atom add-animation"></i>
            <i
              class="seventh-left-icon nc-icon nc-favourite-28 add-animation"
            ></i>
            <i class="eighth-left-icon nc-icon nc-settings add-animation"></i>
            <i class="ninth-left-icon nc-icon nc-bulb-63 add-animation"></i>
            <i class="tenth-left-icon nc-icon nc-circle-10 add-animation"></i>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="space-50"></div>
          <h2 class="title revealOnScroll">お問い合わせはこちら</h2>
          <h5 class="description">
            クライアントが輝けるバックステージを創るのが私ちのミッションです。
          </h5>
          <div class="space-50"></div>
          <div class="row">
            <div class="col-11 col-md-9 ml-auto mr-auto">
              <a
                class="btn btn-block btn-lg btn-primary"
                [routerLink]="['/contactus']"
              >
                <i class="fa fa-search"></i> お問い合わせはこちら
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="icons-nucleo">
            <i class="first-right-icon nc-icon nc-bank add-animation"></i>
            <i
              class="second-right-icon nc-icon nc-tag-content add-animation"
            ></i>
            <i class="third-right-icon nc-icon nc-bell-55 add-animation"></i>
            <i class="fourth-right-icon nc-icon nc-tv-2 add-animation"></i>
            <i class="fifth-right-icon nc-icon nc-map-big add-animation"></i>
            <i class="sixth-right-icon nc-icon nc-badge add-animation"></i>
            <i
              class="seventh-right-icon nc-icon nc-simple-add add-animation"
            ></i>
            <i class="eighth-right-icon nc-icon nc-trophy add-animation"></i>
            <i class="ninth-right-icon nc-icon nc-hat-3 add-animation"></i>
            <i class="tenth-right-icon nc-icon nc-key-25 add-animation"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
