<div class="wrapper">
  <div
    class="page-header"
    style="background-image: url('./assets/img/lp/back-image.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="logo">
            <img src="assets/img/logo/logo-wh.svg" alt="..." />
          </div>
          <!-- <h1 class="presentation-title">Personal Training</h1> -->
        </div>
        <h2 class="presentation-subtitle text-center">
          魅力的な人と会いやすい世界を創る
        </h2>

        <div class="space-50"></div>
        <a
          [routerLink]="['/rentals']"
          class="btn btn-primary btn-lg btn-move-right btn-round"
        >
          <i class="nc-icon nc-minimal-right"></i> 詳しくみる
        </a>
      </div>
    </div>
  </div>
</div>
