<div class="wrapper">
  <div
    class="page-header"
    style="background-image: url('./assets/img/lp/back-image.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <!-- <div class="title-brand">
          <div class="logo">
            <img src="assets/img/logo/logo-w-aeru-wh.svg" alt="..." />
          </div>
        </div> -->
        <h2 class="presentation-subtitle text-center">
          \ 起業・経営者 マッチングアプリ /
        </h2>

        <div class="space-top"></div>
        <div class="row">
          <div class="col-6 col-sm-5 ml-auto">
            <div
              class="card"
              data-background="image"
              style="
                background-image: url('assets/img/sections/rawpixel-com.jpg');
              "
            >
              <div class="card-body">
                <h3 class="card-title">全ての人</h3>
                <p class="card-description">全ての人</p>
                <div class="card-footer">
                  <a
                    [routerLink]="['/rentals']"
                    class="btn btn-primary btn-move-right btn-round"
                  >
                    <i class="nc-icon nc-minimal-right"></i> 見に行く
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-5 mr-auto">
            <div
              class="card"
              data-background="image"
              style="
                background-image: url('assets/img/sections/rawpixel-com.jpg');
              "
            >
              <div class="card-body">
                <h3 class="card-title">お店</h3>
                <p class="card-description">サービス・店舗など</p>
                <div class="card-footer">
                  <a
                    [routerLink]="['/rentals']"
                    class="btn btn-info btn-move-right btn-round"
                  >
                    <i class="nc-icon nc-minimal-right"></i> 見に行く
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6 col-sm-5 ml-auto">
            <div
              class="card"
              data-background="image"
              style="
                background-image: url('assets/img/sections/rawpixel-com.jpg');
              "
            >
              <div class="card-body">
                <h3 class="card-title">事業主</h3>
                <p class="card-description">
                  起業家・経営者・個人事業主・フリーランスの方
                </p>
                <div class="card-footer">
                  <a
                    [routerLink]="['/rentals']"
                    class="btn btn-success btn-move-right btn-round"
                  >
                    <i class="nc-icon nc-minimal-right"></i> 見に行く
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-5 mr-auto">
            <div
              class="card"
              data-background="image"
              style="
                background-image: url('assets/img/sections/rawpixel-com.jpg');
              "
            >
              <div class="card-body">
                <h3 class="card-title">社会人・学生</h3>
                <p class="card-description">これから起業・誰かに貢献したい方</p>
                <div class="card-footer">
                  <a
                    [routerLink]="['/rentals']"
                    class="btn btn-warning btn-move-right btn-round"
                  >
                    <i class="nc-icon nc-minimal-right"></i> 見に行く
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
