<div class="wrapper">
  <div
    class="page-header page-header-xs settings-background"
    style="background-image: url('./assets/img/lp/back-image.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <h1 class="title">申込みフォーム</h1>
        <h5 class="description">Zoomで日々の疑問を質問し放題クラス</h5>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="space-top"></div>

    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="section-description text-center">
          <h2 class="title">クラスの概要</h2>
          <h5 class="description">
            Udemyベストセラー講師のアツシ先生に日々のITに関する様々な疑問をZoomで直接聞くことができます。
          </h5>
          <br />
          <h5 class="description">
            Zoom会は週一回のペースで行っていますので、月に最大4回迄ご参加いただけます。
          </h5>
          <br />
          <h5 class="description">
            Zoom会であなたが抱える日々のITやビジネス等の様々な疑問をアツシ先生に直接質問できるのは勿論、他の生徒の質問も聴きながら仲間を増やしたり、日常の疑問を解消していけます。
          </h5>
          <br />
          <h5 class="description">
            専用Facebookグループを経由してZoom会のスケジュール案内や、テキストでのコミュニケーション、アツシ先生の最新Udemyコースを優待価格で受講できる特典等が受けれます。
          </h5>
          <br />
          <h6 class="description">
            （基本は毎週一回21時〜となりますが、講師都合により曜日や日時が変動する場合がありますことを予めご理解お願いいたします。具体的なスケジュールは専用Facebookグループで告知いたします。）
          </h6>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="card card-plain card-blog text-center">
          <div class="card-image">
            <img class="img" src="assets/img/zoom.jpg" />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="section-description text-center">
          <h2 class="title">アツシ先生とは？</h2>
          <h5 class="description">
            元々は大手自動車メーカーにて研究開発を行なっていたものの、
            幼少期と社会人になってからの海外経験を経て２回の強いカルチャーショックを受ける。
          </h5>
          <br />
          <h5 class="description">
            それをきっかけに自らのビジネスを持ち、
            自ら仮説を立てながらトライ＆エラーができる人生を歩みたいと強く思うようになり起業を決意。
          </h5>
          <br />
          <h5 class="description">
            最初は個人事業主として事業を開始するも中々事業が軌道に乗らず苦しい経験をする。
          </h5>
          <br />
          <h5 class="description">
            貯金が目減りし続けて苦しむ中で元々のエンジニアとしての知見を欲している中小企業経営者が意外と多いことを知り、
            技術顧問という形でプロジェクトマネジメントの知識の提供、業者選び、見積もりの妥当性判断、
            人事評価精度設計、IT投資における事業計画のサポートなどを行うようになる。
          </h5>
          <br />
          <h5 class="description">
            その時の利益をフル投資して現在のAeru.meのシェアリングプラットフォームやバックオフィス自動化システムの基盤技術を約２年かけて開発して法人化。
          </h5>
          <br />
          <h5 class="description">
            Udemyではこれまでの人生を歩む中で得た様々な経験ノウハウを動画コンテンツ化して販売を行なっており、生徒数は3800人を超える。
          </h5>
          <div class="space-top"></div>
          <div class="row">
            <div class="col-8 col-md-6 ml-auto mr-auto">
              <div class="card card-plain">
                <div class="card-image">
                  <img src="./assets/img/faces/udemy-profile.jpg" alt="..." />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="section-description text-center">
          <h2 class="title">入会方法</h2>
          <h5 class="description">
            以下のPayPalで支払い手続きを行うことで参加できるようになります。費用は月額5800円（税別）となります。
          </h5>
          <br />
          <h5 class="description">
            PayPal経由で支払い手続き完了後、最下部のフォームよりご連絡ください。事務局で確認後に専用Facebookグループへご招待いたします。（Facebookアカウント必須となります）
          </h5>
          <br />
          <h5 class="description">
            入会希望の場合はこのページ全ての記載事項への同意が必須条件となります。
          </h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="section-description text-center">
          <h2 class="title">退会方法</h2>
          <h5 class="description">
            退会希望の場合は入会時と同様、このページ最下部のフォームにて、備考欄部分に「退会希望」と記入して送信してください。退会手順をご案内させて頂きます。
            退会後は専用Facebookグループにアクセスできなくなります。
          </h5>
          <br />
          <h5 class="description">
            グループの和を乱すなどの行為が見られた場合は強制退会になります。その場合はいかなる理由があろうとそれまでの支払い費用の返金はされない事を予めご理解いただける方のみご入会可能となります。
          </h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <div class="card card-contact no-transition">
          <h4 class="card-title text-center">
            PayPal講読完了連絡後、以下フォームよりご連絡ください
          </h4>
          <br />
          <div class="card-body">
            <div class="text-center">
              <a
                class="btn btn-round btn-lg btn-paypal"
                href="https://py.pl/9S8Nw"
                target="_blank"
                ><i class="fa fa-paypal"></i>&nbsp; PayPalで講読手続きする</a
              >
            </div>
            <form
              class="contact-form"
              [formGroup]="trialForm"
              (ngSubmit)="sendMessage(trialForm)"
            >
              <div class="row">
                <div class="col-md-6">
                  <label
                    >お名前（フルネーム）
                    <span class="icon-danger">*</span></label
                  >
                  <div class="form-group">
                    <input
                      formControlName="username"
                      type="text"
                      class="form-control"
                      placeholder="お名前"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <label
                    >PayPalメールアドレス
                    <span class="icon-danger">*</span></label
                  >
                  <div class="form-group">
                    <input
                      formControlName="email"
                      type="email"
                      class="form-control"
                      placeholder="PayPalメールアドレス"
                      pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>備考欄</label>
                <textarea
                  formControlName="msg"
                  type="text"
                  class="form-control"
                  rows="5"
                  placeholder="専用Facebookグループ招待メールを「PayPalメールアドレス以外」希望の場合はここに招待受信用メールアドレスを入力ください。退会希望時はここに「退会希望」と記入して送信してください。"
                >
                </textarea>
              </div>

              <ul class="notifications">
                <li class="notification-item">
                  ページ記載事項に同意するには右側スイッチを押す
                  <bSwitch
                    formControlName="terms"
                    [switch-on-color]="'primary'"
                    [switch-off-color]="'primary'"
                    [switch-on-text]="'同意'"
                  >
                  </bSwitch>
                </li>
              </ul>

              <div *ngIf="isInvalidForm('username')" class="alert alert-danger">
                <div *ngIf="trialForm.controls['username'].errors.required">
                  お名前は必須です.
                </div>
              </div>
              <div *ngIf="isInvalidForm('email')" class="alert alert-danger">
                <div *ngIf="trialForm.controls['email'].errors.required">
                  Emailは必須です.
                </div>
                <div *ngIf="trialForm.controls['email'].errors.pattern">
                  Emailを正しく入力してください.
                </div>
              </div>
              <div *ngIf="errorResponse" class="alert alert-danger">
                ネットワークエラー。しばらく経ってからもう一度お試しください。
              </div>

              <div class="text-center">
                <button
                  [disabled]="!trialForm.valid || !trialForm.value.terms"
                  type="submit"
                  class="btn btn-primary btn-lg"
                >
                  この内容で送信
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="space-top"></div>
    <div class="text-center">
      <a
        [routerLink]="['/form/contactus']"
        class="btn btn-outline-default btn-round"
      >
        ご不明点・ご質問等はこちら
      </a>
    </div>
  </div>
</div>
